<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ nome }}</title>
</head>
<body>
    <h1>Tabela: {{ nome }}</h1>

    <table border="1" cellpadding="5">
        <tr>
            {% for c in colunas %}
            <th>{{ c }}</th>
            {% endfor %}
        </tr>

        {% for linha in dados %}
        <tr>
            {% for campo in linha %}
            <td>{{ campo }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

    <br>
    <a href="/">Voltar</a>
</body>
</html>

